.carousel {
  width: 800px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.d-block {
  opacity: 60%;
  height: 400px;
  object-fit: cover;
}

.watch-caption {
  text-decoration: none;
  color: white;
  font-family: cursive;
  font-size: 30px;
}
