.custom-text {
    font-family: 'Italianno', sans-serif;
    margin-left: 8px;
    font-size: 30px;
}

#main-nav-button.btn {
    transition: filter 0.3s;
}

#main-nav-button.btn:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(96%) saturate(678%) hue-rotate(198deg) brightness(95%) contrast(95%);
}

.form-control[type="search"] {
    position: relative;
    right: -15px;
    width: 0px;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
}

.form-control.active[type="search"] {
    opacity: 1;
    width: 200px;
    transition: width 0.3s ease, opacity 0.3s ease;
}