.custom-text {
    font-family: 'Italianno', sans-serif;
    margin-left: 8px;
    font-size: 30px;
}

.btn {
    transition: filter 0.3s;
}

.btn:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(96%) saturate(678%) hue-rotate(198deg) brightness(95%) contrast(95%);
}