.product-page {
  display: flex; /* Aligns content to the top */
  padding: 20px;
}

.product-image {
  width: 300px;
  height: auto;
  margin-right: 20px; /* Adds space between the image and details */
}

.product-details {
  display: flex;
  flex-direction: column;
}

#product-details table {
  margin: 5px;
}
tr {
  width: 50px;
}

.product {
  text-decoration: none;
  z-index: 1;
}

h1 {
  text-align: center;
}
