

.dataTable {
    border: 1px solid lightgray; /* Horizontal line */
    width: auto;
    border-collapse: collapse;
}
  
.dataTable th, .dataTable td {
    border-bottom: 1px solid lightgray; /* Horizontal line */
    padding: 8px; /* Optional padding */
}

.itemPicBox {
        display: flex;
        justify-Content: center;   
        align-Items: center;          
        text-Align: center;          
}

.ATCButton{
    max-width: 464px;
    max-height: 56px;
    width: 100%;
    height: 100%;
}