.product-page {
  display: flex;
  align-items: flex-start; /* Aligns content to the top */
  padding: 20px;
}

.product-image {
  width: 300px;
  height: auto;
  margin-right: 20px; /* Adds space between the image and details */
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-details h2,
.product-details h3,
.product-details h4,
.product-details p {
  margin: 5px 0;
}

.product {
  text-decoration: none;
  z-index: 1;
}
