.sidebar {
  position: static;
  left: 0;
  top: 100;
  height: auto;
  width: 184px;
  background-color: #faf9f9;
  padding: 20px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 0px;
}

.sidebar button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-bottom: 35px;
}

.sidebar .dropdown {
  display: none;
  margin-top: -35px;
  padding-left: 25px;
}

.sidebar .dropdown.active {
  display: block;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
}

.arrow.up {
  transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
}


.bubble {
    display: inline-block;
    width: 10px; 
    height: 10px; 
    border-radius: 50%;
    margin-right: 5px; 
    background-color: transparent; 
}

.bubble.selected {
    background-color: #198754; 
}
